body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif ;
    background-color: black;
}
svg {
    border: 2px  solid black;
    box-shadow: 2px 2px 4px rgba (0, 0, 0, 0.4);
    background-color: white;
}

rect {
    fill: blue;
}
rect:hover {
    fill: white;
}

h1 {
    
        font-size : 40px;
        color: darkred;
}